:root{
    --primary-color: #4E47FF;
    
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0 10%;
}

.btn{
    background-color: var(--primary-color);
    padding: 12px 36px;
    color: white;
    border-radius: 10px;
}

.card{
    background-color: var(--dark-2);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header seciton */
.header{

    padding: 20px;
    background-image: url('Assets/Hero-bg.png');
}
.header > nav > ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header > nav > ul > li > a{
    text-decoration: none;
    font-weight: 500;
}
.header > .banner{
    text-align: center;
}

/* actions section */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Productive User Section */
.productive-user-container{
    background-color: rgb(78, 71, 255, 10%);

}
.stats{
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productive-user-container > h3{
    text-align: center;
}

/* review section */
.reviews-container > h2{
    text-align: center;
    margin-top: 20px;
}
.reviews{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* Newsletter Section */
.newsletter{
    /* display: flex; */
}